.border-comments{
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
}

.border-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content-posts{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-comments{
    margin-left: 15px;
}