.link{
    color: rgb(88, 146, 246);
    text-decoration: none
}
.header-title{
    font-size: 90px;
}
.posts{
    margin-bottom: 10px;
}
.title-posts{
    margin: 10px;
}
.spin-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}